li {
  list-style: none;
}
.hdy-nav-div {
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
}
.container {
  width: 940px;
}
.row {
  margin: 0 auto;
  width: 980px;
  padding: 10px;
}
.hdy-nav {
  height: 60px;
  padding: 35px 14px 0 14px;
  font-size: 15px;
}
.navbar-brand {
  padding: 5px 0 0 0!important;
}
.hdy-nav-title {
  font-size: 32px;
  padding-top: 5px;
  padding-right: 8px;
  margin-left: 50px;
}
.hdy-nav-title a {
  letter-spacing: 2px;
  color: black!important;
}
.hdy-title-ad {
  font-family: "汉仪圆叠体简";
  font-size: 48px;
  color: white;
  margin-bottom: 47px;
}
.hdy-search {
  width: 600px;
  padding-top: 148px;
}
.hdy-search h1 {
  display: inline;
}
.hdy-search input {
  width: 373px;
  height: 47px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 47px;
}
.hdy-search .btn {
  height: 47px;
  width: 98px;
  font-size: 18px;
  padding-top: 10px;
}
.hdy-search-div {
  height: 495px;
  background-color: #169ECF ;
}
.hdy-block {
  height: 225px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.hdy-block img {
  width: 60%;
  margin-bottom: 45px;
}
.hdy-block h3 {
  color: #2190C1;
  font-size: 22px;
  margin: 0 0 34px 0;
}
.hdy-block p {
  font-size: 12px;
  font-family: "宋体";
  margin: 0 0 34px 0;
}
.hdy-block span {
  box-shadow: 2px 2px 2px #666;
  margin-bottom: 50px;
}
.my-gd-1 {
  display: block;
  width: 145px;
  height: 35px;
  margin: -17px auto;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
  background-color: #2190C1;
}
.my-eight-block {
  width: 620px;
  height: 510px;
  margin: 0;
  padding-top: 80px;
  color: #31ADE4;
  position: relative;
  padding-bottom: 40px;
}
.my-eight-block li {
  margin-bottom: 8%;
  height: 145px;
}
.my-eight-block div {
  height: 70%;
}
.my-eight-block div img {
  margin-top: 20%;
  margin-bottom: 20%;
}
.my-round {
  position: absolute;
  right: -350px;
  top: 80px;
}
.my-orange-six {
  background-color: #FFFFFF;
  height: 450px;
}
.my-orange-six li {
  margin: 5% 0 2% 0;
}
.my-orange-six div {
  width: 138px;
  height: 130px;
  font-size: 18px;
  color: #ccc;
}
.my-orange-six div img {
  margin-bottom: 25%;
}
.my-last {
  height: 412px;
  width: 640px;
  padding-top: 50px;
}
.my-last p {
  color: orangered;
  font-size: 21px;
}
.my-last .flo-l {
  width: 50%;
  height: 228px;
  border-right: 1px solid #137FAE;
}
.my-last .flo-l img {
  margin: 10px auto;
  display: block;
  width: 143px;
  height: 143px;
}
.my-last .flo-r {
  margin: 10px auto;
}
.my-last .flo-r li {
  margin: 15px 0;
  color: #A1BDCE;
}
.my-last .flo-r li img {
  padding: 5px;
}
.line {
  width: 100%;
}
.line div {
  width: 100%;
  height: 20px;
  margin-top: 60px;
  margin-bottom: 20px;
  position: relative;
}
.line div span {
  height: 50%;
  width: 220px;
  border-bottom: 1px solid #0F8BC1;
}
.line div a {
  position: absolute;
  left: 220px;
  top: 0;
  color: #ACB5BE;
}
.line div .line-left {
  position: absolute;
  left: 0 ;
  top: 0;
}
.line div .line-right {
  position: absolute;
  right: 0;
  top: 0;
}
.line a {
  color: #ACB5BE;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .container {
    width: 90%;
  }
  .row {
    width: 90%;
  }
  .hdy-nav-div {
    width: 80%;
    margin: 0 auto;
  }
  .navbar-brand {
    padding: 12px 0 0 0!important;
    width: 35px;
  }
  .hdy-nav-title {
    font-size: 14px;
    padding-top: 20px;
    padding-right: 8px;
    margin-left: 40px;
  }
  .hdy-nav-title a {
    letter-spacing: 0;
  }
  .navbar-toggle {
    margin-top: 12px;
  }
  .visible-xs {
    width: 100%;
  }
  .hdy-title-ad {
    font-family: "微软雅黑";
    font-size: 32px;
    color: white;
    margin-bottom: 36px;
    margin-left: 5%;
    font-weight: bold;
  }
  .hdy-search-div {
    height: 235px;
    background-color: #169ECF ;
  }
  .hdy-search {
    width: 100%;
    padding-top: 48px;
    padding-left: 7%;
  }
  .hdy-search input {
    width: 55%;
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 15%;
  }
  .hdy-search .btn {
    height: 30px;
    width: 12%;
    font-size: 12px;
    padding-top: 5px;
  }
  .my-gd-1 {
    width: 115px;
  }
  .hdy-block {
    width: 166px;
    height: 225px;
  }
  .hdy-block img {
    width: 118px;
    height: 120px;
    margin-bottom: 16px;
  }
  .hdy-block h3 {
    margin-bottom: 14px;
  }
  .hdy-block p {
    margin-bottom: 14px;
  }
  .hdy-block span {
    width: 54px;
    height: 22px;
    font-size: 12px;
    padding: 0;
    background-color: #2190C1;
  }
  .my-block-2 li:nth-child(1) {
    padding: 10px;
    width: 166px;
    height: 255px;
    margin: 0 10% 5% 10%;
  }
  .my-block-2 li:nth-child(2) {
    padding: 10px;
    width: 166px;
    height: 255px;
    margin: 0 5% 5% 5%;
  }
  .my-block-2 li:nth-child(3) {
    padding: 10px;
    width: 166px;
    height: 255px;
    margin: 5% 10%;
  }
  .my-block-2 li:nth-child(4) {
    padding: 10px;
    width: 166px;
    height: 255px;
    margin: 5% ;
  }
  .my-eight-block {
    width: 90%;
    height: 250px;
    margin: 0 auto;
    padding-top: 5%;
    color: #31ADE4;
    position: relative;
    padding-bottom: 40px;
  }
  .my-eight-block li {
    margin-bottom: 8%;
    height: 40%;
    font-size: 12px;
  }
  .my-eight-block div {
    height: 70%;
  }
  .my-eight-block div img {
    width: 50%;
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .my-orange-six {
    background-color: #FFFFFF;
    height: 220px;
  }
  .my-orange-six li {
    margin: 0 0 6% 0;
  }
  .my-orange-six div {
    width: 75px;
    height: 70px;
    font-size: 12px;
    color: #ccc;
  }
  .my-orange-six div img {
    width: 80%;
    margin-bottom: 25%;
  }
  .my-last {
    position: relative;
    width: 515px!important;
    height: 223px!important;
  }
  .my-last p {
    font-size: 14px;
  }
  .my-last .flo-l {
    width: 170px!important;
    height: 123px!important;
    position: absolute;
    left: 15%;
    top: 10%;
  }
  .my-last .flo-l img {
    width: 73px!important;
    height: 76px!important;
  }
  .my-last .flo-r {
    width: 170px!important;
    height: 123px!important;
    position: absolute;
    right: 15%;
    top: 5%;
  }
  .my-last .flo-r ul {
    padding: 0!important;
    font-size: 12px;
  }
  .my-last .flo-r ul li {
    margin: 8px 0 5px 0;
  }
  .my-last .flo-r img {
    padding: 0!important;
    width: 20px!important;
    height: 20px!important;
  }
  .line {
    margin-top: 120px;
  }
  .line div {
    margin: 0;
  }
  .line div span {
    width: 173px !important;
  }
  .line div a {
    font-size: 12px!important;
    position: absolute;
    left: 182px;
    top: 0;
    color: #ACB5BE;
  }
  .line a {
    font-size: 12px!important;
  }
}
